_site/
.sass-cache/
.jekyll-metadata
Gemfile.lock
package-lock.json
node_modules/
.DS_Store
*~
\#*\#
.\#*
/eshell/history
/eshell/lastdir
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

#Travis
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
vendor

# YARD artifacts
.yardoc
_yardoc
doc/