<!-- Including InstantSearch.js library and styling -->
<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0/dist/instantsearch.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0/dist/instantsearch.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0/dist/instantsearch-theme-algolia.min.css">

<script>
// Instanciating InstantSearch.js with Algolia credentials
const search = instantsearch({
  appId: '{{ site.algolia.application_id }}',
  indexName: '{{ site.algolia.index_name }}',
  apiKey: '{{ site.algolia.search_only_api_key }}'
});

// Adding searchbar and results widgets
search.addWidget(
  instantsearch.widgets.searchBox({
    container: '#search-searchbar',
    placeholder: 'Search into posts...',
      poweredBy: true, // This is required if you're on the free Community plan
  })
);

  const hitTemplate = function(hit){
	  let isCover = hit.cover;
	  let articleClass = "post-card home-template";
	  if(!isCover) articleClass += " no-image";

	  const title = hit._highlightResult.title.value;
	  const content = hit._highlightResult.html.value;
	  console.log(hit._highlightResult);
	  let template = `<article class="${articleClass}">`
	  if(isCover){
		  template += `
			<a class="post-card-image-link" href="{{ site.baseurl }}${hit.url.substring(1)}">
				<div class="post-card-image" style="background-image: url({{ site.baseurl }}${ hit.cover })"></div>
			</a>`;
	  }

	  template += `
			<div class="post-card-content">
			<div class="post-card-content-link">
			  <header class="post-card-header">`;

	  let date = '';
	  if (hit.date) {
		  date = moment.unix(hit.date).format('D MMMM YYYY');
		  template += `
				<time class="post-card-tags-date" datetime="{{ page.date | date:'%e %B %Y' }}">${date}</time>`;
	  }

	  if('tags' in hit && hit.tags.length){
		  template += `
			<span class="post-card-tags-date">/</span>`;
		  for(tag_index in hit.tags){
			  if(tag_index == hit.tags.length-1)
				  template += `
					<a class="post-card-tags-date" href='{{ site.baseurl }}tag/${hit.tags[tag_index]}/'>${hit.tags[tag_index]}</a>`;
			  else
				  template += `
					<a class="post-card-tags-date" href='{{ site.baseurl }}tag/${hit.tags[tag_index]}/'>${hit.tags[tag_index]},</a>`;
		  }
	  }

	  template += `
		</header>
        <a class="post-card-header-excerpt-link" href="{{ site.baseurl }}{{ post.url | remove_first: '/' }}">
		  <header class="post-card-header">
					<h2 class="post-card-title">${ title }</h2>
				</header>
				<section class="post-card-excerpt">                    
						${ content }
				</section>
        </a>
			</div>
			<footer class="post-card-meta">
			</footer>
		</div>
	</article>`;

	  return template;
  };

search.addWidget(
  instantsearch.widgets.hits({
	  container: '#search-hits',
	  templates: {
		  item: hitTemplate,
		  empty: function(data){
			  return '';
		  }
	  }
  })
);

// Starting the search
  search.start();
  //hide algolia defaults
  $('.ais-search-box--magnifier').hide();
  $('.ais-search-box--powered-by').hide();
  $('.ais-search-box--reset').hide();
  //hide search hits intially
  $('#search-hits').hide();

  function expand(){
	  if($('.ais-search-box--input').hasClass('open')){
		  $('#search-hits').hide();
		  $('#posts').show();
	  }else{
		  $('#search-hits').show();
		  $('#posts').hide();
		  $('.ais-search-box--input').focus();
	  }
	  $('.ais-search-box--input').toggleClass('open');	  
  }
  $('.search-icon').on('click', expand);
  </script>
