    <article class="post-card {{ page.previous.class }}{% unless page.previous.cover %} no-image{% endunless %}">
        {% if page.previous.cover %}
            <a class="post-card-image-link" href="{{ site.baseurl }}{{ page.previous.url | remove_first: '/' }}">
                <div class="post-card-image" style="background-image: url({{ site.baseurl }}{{ page.previous.cover }})"></div>
            </a>
        {% endif %}
        <div class="post-card-content">
            <div class="post-card-content-link">
              <header class="post-card-header">
		<time class="post-card-tags-date" datetime="{{ page.previous.date | date:'%e %B %Y' }}">{{ page.previous.date | date:'%e %B %Y' }}</time>
                {% if page.previous.tags.size > 0 %}
		<span class="post-card-tags-date">/</span>
                        {% for tag in page.previous.tags %}
                            {% if forloop.index == page.previous.tags.size %}
                                <a class="post-card-tags-date" href='{{ site.baseurl }}tag/{{ tag | downcase | replace: ' ', '-' }}/'>{{ tag }}</a>
                            {% else %}
                               <a class="post-card-tags-date" href='{{ site.baseurl }}tag/{{ tag | downcase | replace: ' ', '-' }}/'>{{ tag }},</a>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
			  </header>
			  <a class="post-card-header-excerpt-link" href="{{ site.baseurl }}{{ page.previous.url | remove_first: '/' }}">
	      <header class="post-card-header">
                    <h2 class="post-card-title">{{ page.previous.title }}</h2>
          </header>
                <section class="post-card-excerpt">
                    {% if page.previous.excerpt %}
                        <p>{{ page.previous.excerpt | strip_html | truncatewords: 33, "" }}...</p>
                    {% else %}
                        <p>{{ page.previous.content | strip_html | truncatewords: 33, "" }}...</p>
                    {% endif %}
                </section>
			  </a>
            </div>
            <footer class="post-card-meta">
			<span class="reading-time">
                        {% assign words = page.previous.content | strip_html | number_of_words %}
                        {% if words <= words_per_minute %}
                          1 min read
                        {% else %}
                          {{ words | divided_by:site.words_per_minute }} min read
                        {% endif %}
            </span>
            </footer>
        </div>
    </article>
