---
layout: page
title: Nehra's Blog
header-img: /assets/img/blog-cover.png
---
{% for post in paginator.posts %}
    <div class="card horizontal z-depth-2">
      <div class="card col s12 m8 z-depth-0 post-preview-img">
        <img src="{{post.post-preview-img}}" class="post-preview-img2">
      </div>
      <div class="card col s12 m10 z-depth-0 post-preview-content">
        <div class="post-preview-title">{{post.title}}</div>
        <div class="post-preview-date">
        Posted on <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time>
        </div>
        <div class="post-preview-excerpt">
        {{ post.excerpt | truncate: 270 }}
        </div>
        <div class="card-action" style="font-size: 15px">
            <a href="{{ post.url | prepend: site.baseurl }}">Read More</a>
        </div>
      </div>
    </div>
    <br>
{% endfor %}

<!-- Pager
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %} -->
